flows/Basic_elements_day3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Amounts</name>
        <label>Set Amounts</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>CollectionValues</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionValues</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>6000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionValues</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>8000.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionValues</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singlevariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_Filter</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Amount_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Amount Filter</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_Amount_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>CollectionValues</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Amount_Filter</leftValueReference>
            <operator>LessThan</operator>
            <rightValue>
                <numberValue>8000.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_all_Amount</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Basic elements day3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Basic elements day3</label>
    <loops>
        <name>Loop_all_Amount</name>
        <label>Loop all Amount</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Amount_Filter</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Screen</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Loop_Screen</name>
        <label>Loop Screen</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_all_Amount</targetReference>
        </connector>
        <fields>
            <name>loop</name>
            <fieldText>&lt;p&gt;{!Loop_all_Amount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Amounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CollectionValues</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Amount_Filter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>singlevariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>10000.0</numberValue>
        </value>
    </variables>
</Flow>
