flows/Count_5_times.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Collect_Names</name>
        <label>Collect Names</label>
        <locationX>537</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>collectionUserNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>tempVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>tempVariable</name>
        <label>tempVariable++</label>
        <locationX>719</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Variable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_of_contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_of_contacts</name>
        <label>Count of contacts</label>
        <locationX>490</locationX>
        <locationY>133</locationY>
        <defaultConnector>
            <targetReference>Screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Counts over</defaultConnectorLabel>
        <rules>
            <name>Count_on_contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_of_Contacts</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Variable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Count on contacts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Count 5 times {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Count 5 times day3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>145</locationX>
        <locationY>222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_contacts</targetReference>
        </connector>
        <fields>
            <name>No_of_Contacts</name>
            <dataType>Number</dataType>
            <fieldText>No of Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>320</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Collect_Names</targetReference>
        </connector>
        <fields>
            <name>User_name</name>
            <dataType>String</dataType>
            <fieldText>User name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>833</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayusers</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;List of Users: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(89, 27, 45);&quot;&gt;&lt;em&gt;{!collectionUserNames}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>29</locationX>
        <locationY>89</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>collectionUserNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Variable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
