flows/Loop_and_Assignment_example_2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Opportunities_Collection</name>
        <label>Opportunities Collection</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_records_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_records_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Stage field and total amount in all opportunities related to A/C</description>
        <name>Set_values_and_Add_Amount</name>
        <label>Set values and Add Amount</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_records_loop.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varTotalOpportunityAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_records_loop.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunities_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Loop and Assignment example 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop and Assignment example 2</label>
    <loops>
        <name>Opportunity_records_loop</name>
        <label>Opportunity records loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_values_and_Add_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opportunity_records_loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Rollback_all</name>
        <label>Rollback all</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_all_Opportunities</name>
        <label>Update all Opportunities</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Rollback_all</targetReference>
        </connector>
        <inputReference>varRecordCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_all_Opportunities</targetReference>
        </connector>
        <fields>
            <name>TotalAmount</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Total Amount Related to Account:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(234, 167, 10);&quot;&gt;{!varTotalOpportunityAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTotalOpportunityAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
