flows/Loop_and_assignment_flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Increment_loop_count</name>
        <label>Increment loop count</label>
        <locationX>597</locationX>
        <locationY>225</locationY>
        <assignmentItems>
            <assignToReference>varloopcount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Loop_count</name>
        <label>Loop count ?</label>
        <locationX>885</locationX>
        <locationY>226</locationY>
        <defaultConnector>
            <targetReference>Screen_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Total Count</defaultConnectorLabel>
        <rules>
            <name>Count_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varloopcount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>Count=3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loop and assignment flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loop and assignment flow</label>
    <loops>
        <name>Loop_all_opportunites</name>
        <label>Loop all opportunites</label>
        <locationX>392</locationX>
        <locationY>225</locationY>
        <collectionReference>Get_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_loop_count</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get Opportunities</label>
        <locationX>175</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>176</locationX>
        <locationY>353</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_all_opportunites</targetReference>
        </connector>
        <fields>
            <name>DisplayCtLoop</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The current count of loop:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varloopcount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>613</locationX>
        <locationY>365</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_all_opportunites</targetReference>
        </connector>
        <fields>
            <name>countequals3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No of Loop =3:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!varloopcount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Total</name>
        <label>Screen Total</label>
        <locationX>587</locationX>
        <locationY>109</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_all_opportunites</targetReference>
        </connector>
        <fields>
            <name>Totalcountz</name>
            <fieldText>&lt;p&gt;Total loop count:&lt;/p&gt;&lt;p&gt;{!varloopcount}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varloopcount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
