flows/Practice_all_basics.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Adds_in_assign</name>
        <label>Adds in assign</label>
        <locationX>572</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>temp</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>259</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>varACRecords.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temp</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temp</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>$Flow.ActiveStages</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>choicebox</name>
        <choiceText>Check1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <constants>
        <name>Pie</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.14</numberValue>
        </value>
    </constants>
    <environments>Default</environments>
    <formulas>
        <name>formula</name>
        <dataType>Number</dataType>
        <expression>{!Pie}*{!Number}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Practice all basics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Practice all basics</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>266</locationX>
        <locationY>422</locationY>
        <collectionReference>varcollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Adds_in_assign</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createrecords</name>
        <label>createrecords</label>
        <locationX>166</locationX>
        <locationY>466</locationY>
        <inputReference>getrecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>delete_records</name>
        <label>delete records</label>
        <locationX>50</locationX>
        <locationY>401</locationY>
        <inputReference>getrecords</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getrecords</name>
        <label>getrecords</label>
        <locationX>120</locationX>
        <locationY>332</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>85</locationX>
        <locationY>206</locationY>
        <inputReference>varACRecords</inputReference>
    </recordUpdates>
    <screens>
        <name>output_Screen</name>
        <label>output Screen</label>
        <locationX>372</locationX>
        <locationY>304</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(0, 0, 0);&quot;&gt;&lt;u&gt;Area&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;=&lt;/span&gt; &lt;span style=&quot;font-size: 16px;&quot;&gt;{!formula}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: sans-serif; color: rgb(224, 36, 36);&quot;&gt;Fault Msg:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Test_Screen</name>
        <label>Test Screen</label>
        <locationX>560</locationX>
        <locationY>227</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>output_Screen</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Text</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>10.0</numberValue>
            </defaultValue>
            <fieldText>Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Checkbox</name>
            <choiceReferences>choicebox</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Checkbox</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>435</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Test_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(231, 20, 20);&quot;&gt;&lt;u&gt;{!$Flow.FaultMessage}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Text2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;CA&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vaarTrueOrFalse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varACRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varcollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varpicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
